@use '../utilities/helpers' as helpers;


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    background-color: helpers.setColor(bg-secondary);
    align-items: center;
    justify-content: space-between;
    padding: 0 0.50rem;


    &__menu-toggle{
        position: relative;
        flex-basis: 13%;
        height: 100%;
        text-align: left;
        z-index: 2;
        
        .menu-toggle__check{
            margin: 15px 0 0 0;
            width: 42px;
            height: 42px;
            cursor: pointer;
            opacity: 0;
        }

        .menu-toggle__toggler{
            position: absolute;
            top: 31px;
            left: 0rem;
            width: 42px;
            height: 8px;
            display: block;
            background-color: helpers.setColor(secondary);
            pointer-events: none;
            transition: transform 200ms ease-in-out, background 400ms ease-in-out;
            // border-radius: 5px;

            &::before,
            &::after{
                content: '';
                position: absolute;
                display: block;
                width: 42px;
                height: 8px;
                background-color: helpers.setColor(secondary);
                pointer-events: none;
                // border-radius: 5px;
                transition: transform 200ms ease-in-out, top 200ms ease-in-out, background 400ms ease-in-out;
            }
            
            &::before{
                top: -17px;
            }

            &::after{
                top: 17px;
            }

            
        }
        .menu-toggle__check:checked + .menu-toggle__toggler{
            transform: rotate(135deg);

            &::before,
            &::after{
                top: 0;
                transform: rotate(90deg);
            }
        }

        @include helpers.media(helpers.$tablet){
            display: none;
        }
    }

    &__logo{
        font-weight: 500;
    }
    
    &__logout{
        @include helpers.buttons;
    }

}