@use '../utilities/helpers' as helpers;


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    background-color: helpers.setColor(bg-secondary);
    align-items: center;
    justify-content: space-between;
    padding: 0 0.50rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.070);
    // box-shadow:
    //     0 0.8px 2.2px -9px rgba(0, 0, 0, 0.074),
    //     0 2.6px 4.7px -9px rgba(0, 0, 0, 0.089),
    //     0 6.7px 8.3px -9px rgba(0, 0, 0, 0.101),
    //     0 20px 21px -9px rgba(0, 0, 0, 0.15);
    box-shadow:
        0 0.8px 2.1px -9px rgba(0, 0, 0, 0.074),
        0 2px 4.5px -9px rgba(0, 0, 0, 0.089),
        0 3.9px 7.9px -9px rgba(0, 0, 0, 0.101),
        0 10px 20px -9px rgba(0, 0, 0, 0.15);

    @include helpers.media(helpers.$desktop){
        padding-left: 4rem;
    }

    @include helpers.media(helpers.$lg-desktop){
        padding-left: 5rem;
    }


    &__menu-toggle{
        position: relative;
        flex-basis: 13%;
        height: 100%;
        text-align: left;
        z-index: 2;
        
        .menu-toggle__check{
            margin: 15px 0 0 0;
            width: 42px;
            height: 42px;
            cursor: pointer;
            opacity: 0;
        }

        .menu-toggle__toggler{
            position: absolute;
            top: 31px;
            left: 0rem;
            width: 42px;
            height: 8px;
            display: block;
            background-color: helpers.setColor(secondary);
            pointer-events: none;
            transition: transform 200ms ease-in-out, background 400ms ease-in-out;
            // border-radius: 5px;

            &::before,
            &::after{
                content: '';
                position: absolute;
                display: block;
                width: 42px;
                height: 8px;
                background-color: helpers.setColor(secondary);
                pointer-events: none;
                // border-radius: 5px;
                transition: transform 200ms ease-in-out, top 200ms ease-in-out, background 400ms ease-in-out;
            }
            
            &::before{
                top: -17px;
            }

            &::after{
                top: 17px;
            }

            
        }
        .menu-toggle__check:checked + .menu-toggle__toggler{
            transform: rotate(135deg);

            &::before,
            &::after{
                top: 0;
                transform: rotate(90deg);
            }
        }

        @include helpers.media(helpers.$desktop){
            display: none;
        }
    }

    &__logo{
        font-weight: 500;
        color: helpers.setColor(primary);
    }
    
    &__logout{
        @include helpers.buttons;
    }

}