@use '../utilities/helpers' as helpers;

.sidebar{
    background-color: helpers.setColor( bg-secondary );
    z-index: 2;
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    width: 270px;
    // max-width: 300px;
    transition: transform 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>*{
        margin: 1rem 0;
    }

    // @include helpers.media(helpers.$desktop){
    //     // position: fixed;
    //     // height: 100%;
    //     // flex-basis: 20%;
    // }

    &__profile{
        height: 100px;
        width: 100px;
        border-radius: 50%;

        &__picture{
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
            opacity: 0.80;
        }

    }

    &__menu{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        flex-basis: 100%;

        &__item{
            list-style: none;
            cursor: pointer;
            text-align: center;
            padding: 0.50rem;
            flex-basis: 100%;
            transition: color 400ms ease-in-out;
            border-top: 1px solid helpers.setColor(bg);
            &:focus,
            &:hover{
                color: helpers.setColor(primary);
            }
            
            &--active{
                color: helpers.setColor(primary);
            }
        }

        &:last-child{
            border-bottom: 1px solid helpers.setColor(bg);
        }
    }


}