@use '../utilities/helpers' as helpers;

.upload-screen{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>*{
        margin-bottom: 1rem;
    }

    &__title{
        margin: 1rem 0 2rem 0;
    }

    &__custom-file{
        visibility: hidden;
        
        &::before{
            visibility: visible;
            display: block;
            content: 'Select file';
            @include helpers.buttons;
            text-align: center;
            
        }
        
        &:focus,
        &:hover{

            &::before{
                background-color: lighten(helpers.setColor( secondary ),15);
            }
        }


    }

    &__upload{
        @include helpers.buttons;
    }

    &__bar{
        appearance: none;
    }
}